<html>

<body onload="setUpChatbot()">

<script src="/socket.io/socket.io.js"></script>
<script>

//const socket = io.connect( "" );
const socket = io.connect( "http://localhost:8080" );

socket.on( "asyncresult", function( data )
{
    if( data.error_str || !data.result )
    {
        alert( JSON.stringify( data, null, 3 ) );
        return;
    }
    
    messageChatbot( data.result );
    
} );


var g_wa_instance;


function setUpChatbot()
{
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
    
    window.watsonAssistantChatOptions = {
        integrationID     : "<%= wa_integration_id %>",
        region            : "<%= wa_region %>",
        serviceInstanceID : "<%= wa_service_instance_id %>",
        onLoad: function( instance )
        {
            g_wa_instance = instance;
            
            instance.render();
        }
    };

}


function messageChatbot( txt )
{
    // https://web-chat.global.assistant.watson.cloud.ibm.com/docs.html?to=api-instance-methods#send
    //
    var send_obj = { "input": { "message_type" : "text", "text" : "ASYNCRESPONSE " + txt } };
    
    g_wa_instance.send( send_obj, {} ).catch( function( error ) 
    {
      console.error( "Sending message to chatbot failed" );
      
    } );
}

</script>

</body>

</html>


